{% extends "base.html" %}

{% block content %}
    <div>HOME PLACEHOLDER</div>

    <img class="card" src="https://github.com/hayeah/playing-cards-assets/blob/master/png/ace_of_spades.png?raw=true" alt="AS">
    <img class="card" src="https://github.com/hayeah/playing-cards-assets/blob/master/png/king_of_hearts.png?raw=true" alt="AS">
    <img class="card" src="https://github.com/hayeah/playing-cards-assets/blob/master/png/queen_of_clubs.png?raw=true" alt="AS">
    <img class="card" src="https://github.com/hayeah/playing-cards-assets/blob/master/png/jack_of_diamonds.png?raw=true" alt="AS">
    <img class="card" src="https://github.com/hayeah/playing-cards-assets/blob/master/png/10_of_spades.png?raw=true" alt="AS">

{% endblock %}

{% block css %}
<style type="text/css">
     .card {
         border: 1px solid black;
         border-radius: 16px;
         padding: 8px;
         width: 222px;
         height: 323px;
    }
</style>
{% endblock %}